HELP.md
**/.coverage
build
target
.bsp
CMakeUserPresets.json

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### VS Code ###
.vscode/

# MacOS Finder files.
.DS_Store

### Jupyter Lab ###
.virtual_documents
.ipynb_checkpoints

### Gradle ###
.gradle
!**/gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### JS ###
node_modules
.cache
**/ts/**/.env
