[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pytest = "*"
isort = "*"

[dev-packages]
coverage = "*"
pytest = "*"
pylint = "*"
black = "*"

[requires]
python_version = "3.12"

[scripts]
lint = "pylint --rcfile ../../../pylintrc ."
test = "pytest --config-file ../pytest.ini"
coverage = "coverage run --include=src/* -m pytest"
coverage-html = "coverage html"
format = "black --config pyproject.toml ."
sort_imports = "isort ."
